.grid-container {
    display: flex;
    flex-wrap: wrap; 
    width: 500px;
    height: 500px;
    border: 1px solid #333;
}

.grid-box {
    width: 31.25px;
    height: 31.25px;
    border: 1px solid black;
    box-sizing: border-box; 
}